.main-footer {
    max-width: 1280;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.img-list {
    padding-top: 2.5rem;
    width: 100%;
    border-top: solid 1px #3d3c4c;
    text-align: center;
    display: flex;
    justify-content: center;
}

.img-link {
    background-color: rgb(161 174 229/0.1);
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    color: white;
    border: 1px solid #3d3c4c;
    padding: 15px;
    display: flex;
    margin-right: 2rem;
    position: relative;
}

.img-link:hover {
    background-color: rgba(161, 174, 229, 0.2);
}

.bandkit-span {
    color: white;
    font-size: 12px;
    position: absolute;
    top: -8px;
    left : 32px;
}

.border-\[\#A1AEE5\]\/20{
    border-color: rgba(161,174,229,.2);
}

.disabled\:opacity-50{
    opacity: 0.5;
}

.disabled\:cursor-not-allowed{
    cursor: disabled;
}