@import url(./assets/css/icons.css);
@import url(./assets/css/element-icons.css);

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Light.otf);
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Regular.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Bold.otf);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Roboto Mono;
  src: url(./assets/fonts/RobotoMono-Regular.ttf);
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-400-normal.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-500-normal.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-600-normal.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gelix;
  src: url(./assets/fonts/gellix-11Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gelix;
  src: url(./assets/fonts/gellix-7Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gelix;
  src: url(./assets/fonts/gellix-9Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gelix;
  src: url(./assets/fonts/gellix-13semiBold.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap
}
/* @font-face {
  font-family: ui-sans-serif;
  src: url(./assets/fonts/SFUIText-Medium.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ui-sans-serif;
  src: url(./assets/fonts/SFUIText-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ui-sans-serif;
  src: url(./assets/fonts/Golos-UI_VF.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
} */

body {
  font-weight: 400;
  line-height: 1.625;
  --tw-text-opacity: 1;
}

.header{
    -tw-bg-opacity: 1;
    background-color: rgb(0 0 14 / var(--tw-bg-opacity));
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.mainContainer{
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row{
  --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(2rem)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.row>* {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.__className_de4d65{
  font-family: __gellix_de4d65,__gellix_Fallback_de4d65;
}

.navbar-brand{
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}

.btn{
  display: inline-block;
    border-radius: .25rem;
    border-width: 1px;
    border-color: transparent;
    padding: .5rem 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    border-radius: 6px;
}

.log-Class{
  color: transparent;
  height: 62px;
  width: 100px;
  visibility: visible;
}

[type=checkbox]{
  border-radius: 0;
}

[type=checkbox], [type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
}

.dark\:text-white:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255/1);
}

@media (min-width: 768px){
  .md\:hidden{
    display: hidden;
  }
  .md\:order-2{
    order: 2;
  }
  .md\:ml-0{
    margin-left: 0;
  }
  .md\:col-5{
    flex: 0 0 auto;
    width: 41.66666666666667%;
  }
  .md\:col-7{
    flex: 0 0 auto;
        width: 58.333333333333336%;
  }

  .md\:w-\[35\%\]{
    width: 35%;
  }

  .md\:col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .md\:mt-0 {
    margin-top: 0;
  }
  .h2, h2 {
    font-size: 2.44140625rem !important;
  }

}

@media (min-width: 1024px){
  .lg\:hidden{
    display: hidden;
  }
  .lg\:order-1{
    order:1;
  }
  .lg\:ml-0{
    margin-left: 0;
  }
  .lg\:inline-block{
    display: inline-block;
  }
  .lg\:col-4 {
    flex: 0 0 auto;
    width: 33.333333333333336%;
  }
  .lg\:col-6{
    flex: 0 0 auto;
    width: 50%;
  }
  .lg\:text-right{
    text-align:right;
  }
  .lg\:mt-0{
    margin-top: 0;
  }
  .lg\:mb-0{
    margin-bottom: 0px;
  }
  .lg\:col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .lg\:col-10 {
    flex: 0 0 auto;
    width: 83.33333333333334%;
  }
}

@media (min-width: 1280px) {
  .section {
      padding-top: 7rem;
      padding-bottom: 7rem;
  }
}


.order-0{
  order: 0;
}

.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.navbar-brand{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.logo-class{
  color: transparent;
    height: 62px;
    width: 100px;
    visibility: visible;
}

.btn-outline-primary{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255/var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}

body{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 10/var(--tw-bg-opacity));
  color: #ffffffcc;
}

.btn-outline-primary:hover{
  --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(4 4 4 / var(--tw-text-opacity));
}
.btn-outline-primary{
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-outline-primary:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(4 4 4 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-sm{
    border-radius: .125rem;
    padding: .375rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: 4px;
}

.bg-darkmode-theme-light{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 10/var(--tw-bg-opacity));
}

.btn-outline-primary:hover:is(.dark *){
  --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(4 4 4 / var(--tw-text-opacity));
}

.section-sm{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.social-icons li{
  display: inline-block;
}

.social-icons li a:is(.dark *){
  --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(4 4 4 / var(--tw-text-opacity));
}

.social-icons li a{
  display: flex;
    height: 2.25rem;
    width: 2.25rem;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(18 18 18 / var(--tw-bg-opacity));
    text-align: center;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    border-radius: 6px;
}

.social-icons li a svg {
  height: 1.25rem;
    width: 1.25rem;
}
.social-icons>:not([hidden])~:not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem* var(--tw-space-x-reverse));
  margin-left: calc(1rem* calc(1 - var(--tw-space-x-reverse)));
}

.dark\:border-darkmode-border:is(.dark *){
  --tw-border-opacity:1;
  border-color: rgb(62 62 62/var(--tw-border-opacity));
}
.btn-primary:is(.dark *){
  --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(4 4 4 / var(--tw-text-opacity));
}
.btn-primary:hover {
  --tw-brightness: brightness(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.nav-link:is(.dark *){
  --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}


.nav-link{
  display: block;
  padding: .75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(4 4 4 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

@media (min-width: 1024px) {
  .nav-link {
      padding: .75rem .5rem;
  }
}

.btn-outline-primary:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

h1:is(.dark *), h2:is(.dark *), h3:is(.dark *), h4:is(.dark *), h5:is(.dark *), h6:is(.dark *)
{
  --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-outline-primary:hover:is(.dark *){
  --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(4 4 4 / var(--tw-text-opacity));
}

.dark\:text-white:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
