@import url(./assets/css/icons.css);
@import url(./assets/css/element-icons.css);

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Light.otf);
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Regular.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Bold.otf);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Roboto Mono;
  src: url(./assets/fonts/RobotoMono-Regular.ttf);
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-400-normal.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-500-normal.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-600-normal.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

/* @font-face {
  font-family: ui-sans-serif;
  src: url(./assets/fonts/SFUIText-Medium.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ui-sans-serif;
  src: url(./assets/fonts/SFUIText-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ui-sans-serif;
  src: url(./assets/fonts/Golos-UI_VF.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
} */

html {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  font-family: system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.dark-theme .dialog {
  background-color: var(--bg);
}

.dark-theme .gn-button {
  border-color: transparent;
}

.g-bg-text-gradient{
  background-image: linear-gradient(0deg, #b7c2f1, #ecf0ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary\/70{
  background-color: rgba(161,174,229,.7);
}

.bg-primary\/5{
  background-color: rgba(161,174,229,.05);
}

.border-primary\/10{
  border-color: rgba(161,174,229,.1);
}

.border-primary\/20{
  border-color: rgba(161,174,229,.2);
}
.border-primary\/30{
  border-color: rgba(161,174,229,.3);
}

.border-primary\/5 {
  border-color: rgba(161,174,229,.05);
}
.g-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: .5rem;
    padding-right: .5rem;
}

@media screen and (min-width: 768px) {
  .g-container {
    width: 1180px;
  }
}

.g-bg-text-gradient{
  background-image: linear-gradient(0deg,#b7c2f1,#ecf0ff);
}

.g-text-fill{
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-\[\#A1AEE5\]\/5{
  background-color: rgba(161,174,229,.05);
}

.bg-primary\/10{
  background-color: rgba(161,174,229,.1);
}

.bg-primary\/20{
  background-color: rgba(161,174,229,.2);
}

.text-primary\/70{
  color:rgba(161,174,229,.7);
}

.text-primary\/80{
  color:rgba(161,174,229,.8);
}

.text-white\/80 {
  color: hsla(0,0%,100%,.8);
}

.text-sharp{
  color: rgb(128 152 255/var(--tw-text-opacity));

}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 6px;
  top: -22px;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.text-primary{
  color: rgb(161 174 229/var(--tw-text-opacity))
}
.bg-set{
  background-image: url(/home-bg2.png);
  background-size: cover;
  background-position-y: 40px;
  background-attachment: scroll;
}
.h1-selected{
  background: radial-gradient(73.65% 73.65% at 50% 0,rgba(161,174,229,.25) 0,rgba(161,174,229,.083) 61.8%,rgba(161,174,229,0) 100%);
}
.panelTab:hover{
  background: radial-gradient(73.65% 73.65% at 50% 0,rgba(161,174,229,.25) 0,rgba(161,174,229,.083) 61.8%,rgba(161,174,229,0) 100%);
  color:white;
}
.g-tab-bg-gradient2{
  background: linear-gradient(0deg,rgba(3,5,21,.5),rgba(3,5,21,.5)),radial-gradient(73.65% 73.65% at 50% 0,rgba(161,174,229,.25) 0,rgba(161,174,229,.083) 61.8%,rgba(161,174,229,0) 100%);
}
.to-primary\/5{
  --tw-gradient-to: rgba(161,174,229,.05) var(--tw-gradient-to-position);
}

.from-primary\/0{
  --tw-gradient-from: rgba(161,174,229,0) var(--tw-gradient-from-position);
  --tw-gradient-stops:   var(--tw-gradient-from), var(--tw-gradient-to);

}

.text-primary\/50{
  color: rgba(161,174,229,.5);
}

.bg-\[\#030515\]\/40{
  background-color: rgba(3,5,21,.4);
}

.border-\[\#A1AEE5\]\/20{
  border-color: rgba(161,174,229,.2);
}

